# ESP32-S31 USB transport overlay
# Layer after sdkconfig.defaults and sdkconfig.defaults.esp32s31.

CONFIG_ESP_USB_HOST_INTERFACE=y
CONFIG_TINYUSB_VENDOR_COUNT=1
CONFIG_TINYUSB_VENDOR_RX_BUFSIZE=8192
CONFIG_TINYUSB_VENDOR_TX_BUFSIZE=16384
